@import 'https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css';

/*
*
* RESET
*
*/
html, body, div, h2, p, strong, span, a {
    margin: 0;
    padding: 0;
}
*, *:after, *:before {
    box-sizing: border-box;
}
a, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

/*
*
* VARIABLES
*
*/
$soft-blue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);
$main-bg: hsl(217, 54%, 11%);
$card-bg: hsl(216, 50%, 16%);
$line-bg: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);

/*
*
* COMMON
*
*/
html, body {
    height: 100%;
}
body {
    background-color: $main-bg;
    font-family: 'Outfit', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
strong {
    font-weight: 600;
}

/*
*
* CARD
*
*/
.card {
    width: 350px;
    height: 600px;
    background-color: $card-bg;
    border-radius: 15px;
    color: $white;
    padding: 24px;
    position: relative;
    z-index: 1;

    &__back {
        position: absolute;
        z-index: -1;
        width: 380px; height: 620px;
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 50px;
        left: 50%; top: calc(50% + 30px);
        transform: translate(-50%, -50%);
    }

    &__img {
        aspect-ratio: 1 / 1;
        background: url("../images/image-equilibrium.jpg") no-repeat center center / cover;
        border-radius: 10px;
        overflow: hidden;
    
        a {
            display: block;
            width: 100%; height: 100%;
            position: relative;
            
            &:hover:before {
                content: '';
                display: block;
                width: 100%; height: 100%;
                position: absolute;
                left: 0; top: 0;
                background-color: rgba($cyan, 0.5);
            }
    
            &:hover:after {
                content: '';
                display: block;
                width: 2.8em; height: 2.6em;
                position: absolute;
                left: 50%; top: 50%;
                transform: translate(-50%, -50%);
                background: url("../images/icon-view.svg") no-repeat center center / contain;
            }
        }
    }

    &__tit {
        font-weight: 600;
        font-size: 22px;
        margin-top: 1em;
        
        &:hover a {
            color: $cyan;
        }
    }

    &__desc {
        font-weight: 300;
        color: $soft-blue;
        line-height: 1.4;
        margin-top: 1em;
    }

    &__info {
        margin-top: 1em;
        font-size: 0.9em;
        display: flex;
        justify-content: space-between;
        
        .icon--left:before {
            content: '';
            display: inline-block;
            width: 0.9em; height: 0.9em;
            margin-right: 0.2em;
            position: relative;
        }
    
        &__eth {
            color: $cyan;
    
            &:before {
                background: url("../images/icon-ethereum.svg") no-repeat center center / contain;
                top: 0.05em;
            }
        }
    
        &__time {
            font-weight: 300;
            color: $soft-blue;
    
            &:before {
                background: url("../images/icon-clock.svg") no-repeat center center / contain;
                top: 0.06em;
            }
        }
    }

    &__line {
        width: 100%;
        height: 1px;
        background-color: $soft-blue;
        margin: 1.1em 0 1em;
    }

    &__footer {
        display: flex;
        align-items: center;
        font-size: 0.85em;
    
        &__img {
            flex-shrink: 0;
            width: 30px; height: 30px;
            border: 1px solid $white;
            border-radius: 50%;
            background: url("../images/image-avatar.png") no-repeat center center / cover;
            margin-right: 1.1em;
        }
    
        &__creator {
            color: $soft-blue;
    
            &-name {
                color: $white;
    
                &:hover {
                    color: $cyan;
                }
            }
        }
    }
}

/*
*
* ATTRIBUTION
*
*/
.attribution {
    position: absolute;
    width: 100%;
    left: 0; bottom: 8px;
    font-size: 11px;
    text-align: center;
    color: $white;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}


/*
*
* MEDIAQUERIES
*
*/
@media screen and (max-width: 400px) {
    body {
        font-size: 4.526vw;
    }

    .card {
        width: 88vw;
        height: 151vw;
        border-radius: 3.77vw;
        padding: 6vw;

        &__back {
            width: 95.5vw; height: 155.9vw;
            border-radius: 12.57vw;
            left: 50%; top: calc(50% + 30px);
            transform: translate(-50%, -50%);
        }

        &__tit {
            font-size: 5.532vw;
        }

        &__footer {
            &__img {
                width: 7.6vw;
                height: 7.6vw;
            }
        }
    }

    .attribution {
        font-size: 2.766vw;
    }
}